apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: nginx-worker-1
  labels:
    app: nginx
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: nginx
